body,
html {
    margin: 0;
    padding: 0;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    width: 100%;
}

.headerList {
    float: left;
    width: 33%;
}

.headerList a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.headerList a:hover {
    background-color: #111111;
}

.mainContent {
    padding: 20px;
    margin-left: 50px;
}

button {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 20px;
    /*font-size: 3rem;*/
    width: 25vw;
    /*height: 15vh;*/
    /*max-width: 20vw;*/
}

.flexBox {
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flexBox div {
    flex: 1;
    margin-top: 50px;
}

/*.centerClass {
    max-width: 50%;
    flex: 2;
    justify-content: space-between;
}*/
li {
    list-style: none;
    width: 20%;
    height: 10%;
}
.title-screen {
    align-items: center;
    justify-content: center;
    display: flex;
}
.title {
    margin: 0;
    margin-top: 10%;
    font-size: 4.7em;
}
th {
    background-color: #424242;
    color: white;
}