body,
html {
    margin: 0;
    padding: 0;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    width: 100%;
}

.headerList {
    float: left;
    width: 33%;
}

.headerList a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.headerList a:hover {
    background-color: #111111;
}

.mainContent {
    padding: 20px;
    margin-left: 50px;
}

button {
    margin: 20px;
}

.flexBox {
    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

/*.centerClass {
    max-width: 50%;
    flex: 2;
    justify-content: space-between;
}*/
li {
    list-style: none;
    width: 20%;
    height: 10%;
}
.title-screen {
    align-items: center;
    justify-content: center;
    display: flex;
}
.title {
    margin: 0;
    margin-top: 10%;
    font-size: 4.7em;
}