body, html {
    margin: 0;
    padding: 0;
}
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    width: 100%;
}

.headerList {
    float: left;
}

.headerList a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.headerList a:hover {
    background-color: #111111;
}
.mainContent {
    padding: 20px;
    margin-left: 50px;
}
button {
    margin: 20px; 
}